@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;

.header {
    width: min(90%, f.rem(960));
    margin-inline: auto;
    padding-block: f.rem(24);

    &__logo {
        width: 150px;
    }

    &__link {
        padding: f.rem(8) f.rem(16);
        font-size: f.rem(14);
        color: var(--l-pink);
        border: 1px solid var(--l-pink);
        border-radius: 50px;
    }

    @include bp.breakpointMin(medium-screen) {
        &__logo {
            width: f.rem(200);
        }

        &__link {
            font-size: f.rem(18);
            padding: f.rem(10) f.rem(32);
        }
    }
}