@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;

.activity {
    width: 100%;
    padding-bottom: f.rem(180);

    &-container {
        width: min(90%, f.rem(760));
        margin-inline: auto;

        & > .img {
            margin-bottom: calc(110px - f.rem(85));
        } 

        .activity-card {
            width: 50%;

            .img {
                width: 40px;
                margin-left: f.rem(5);
            }

            h2,
            p {
                text-align: center;
            }

            p {
                color: var(--l-gray);
            }

            @include bp.breakpointMin(medium-screen) {
                width: 70%;

                .img {
                    margin-left: f.rem(30);
                }
            }
        }

        .activity-card:nth-child(2) {
            margin-inline: auto;

            h2 {
                font-size: f.rem(71);
            }
        }

        .activity-card:nth-child(3) {

            .img {
                width: 30px;
            }

            h2 {
                font-size: f.rem(62);
            }

            p {
                padding-inline: f.rem(40);
            }

            @include bp.breakpointMin(medium-screen) {

                .img {
                    width: 40px;
                }

                h2 {
                    font-size: f.rem(72);
                }
            }
        }
    }
}