@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* POSITION */

/* FOOTER */
.footer {
    position: relative;

    &__display {
        .footer-form {
            form {
                .email {
                    position: relative;

                    .error {
                        bottom: -23px;
                        margin-left: f.rem(12);
                        color: var(--l-red);
                        position: absolute;
                    }
                }
            }
        }
    }

    .attribution {
        position: absolute;
        bottom: 2px;
        left: 50%;
        transform: translateX(-50%);

        a {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin-inline: auto;
                width: 0;
                height: 2px;
                background-color: var(--x-p-blue);
                transition: width .3s ease-in-out;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
}