@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;

footer {
    margin-top: auto;
}

.footer {
    background-color: var(--x-d-cyan);
    color: var(--white);

    &__bg {
        background-color: var(--white);
        padding-top: f.rem(330);
        width: 100%;

        img {
            width: 100%;
        }
    }

    &__container {
        width: min(90%, f.rem(1100));
        margin-inline: auto;
        padding-block: f.rem(64) f.rem(32);

        .footer-form {

            h5 {
                color: var(--white);
                font-size: f.rem(32);
                margin-bottom: f.rem(20);
            }

            p {
                font-size: f.rem(17);
                margin-bottom: f.rem(32);
            }

            form {
                width: 100%;

                input,
                button {
                    border-radius: f.rem(8);
                }
                
                input {
                    padding: f.rem(12);
                    width: 100%;
                    outline: none;
                    border: 1px solid var(--white);
                }

                .input-error {
                    border-color: var(--l-red);
                }

                button {
                    padding: f.rem(20) f.rem(36);
                    margin-left: auto;
                    background-color: var(--l-pink);
                    color: var(--white);
                    font-size: f.rem(18);
                }
            }

            @include bp.breakpointMin(medium-screen) {
                form {
                    input {
                        margin: 0;
                    }

                    button {
                        width: 100%;
                        padding: f.rem(12);
                        font-size: f.rem(16);
                    }
                }
            }
        }


        /* FOOTER CONTENT */
        .footer-content {
            .logo {
                margin-bottom: f.rem(50);
                svg {
                    margin-bottom: f.rem(20);

                    path {
                        fill: var(--white);
                    }
                }

                p {
                    width: f.rem(350);
                }
            }

            .contact {
                margin-bottom: f.rem(44);
            }

            .socials  {
                a {
                    color: var(--white);
                    font-size: f.rem(38);
                }
            }
        }
    }
}

.attribution {
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}